{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% csrf_token %}
    <div style="margin: 0 650px;">
        <label for="tributes_number">Number of tributes</label>
        <input type="number" name="tributes_number" id="input_tributes_number">
    </div>
    <div style="margin: 0 650px;">
        <button id="bt_send_tributes_number">OK</button>
    </div>

    <div id="tribute_forms">

    </div>
</body>

<script src="{% static '/jquery.js' %}"> </script>

<script>
    const csrf = document.getElementsByName("csrfmiddlewaretoken")[0].value

    $('#bt_send_tributes_number').click(function(){

        n = $('#input_tributes_number').val();

        if( n > 0 && n != '' ){
            $.ajax({
                url :'/send/tributes/number/',
                type:'POST',
                data: {'csrfmiddlewaretoken':csrf , 'tributes':n},
                success: function(html){
                    $('#tribute_forms').append(html);
                    $('#bt_send_tributes_number').prop('disabled', true);
                }
            });
        }
    });
    
</script>

</html>